<div class="footer">
  <p>Follow</p>
  <div class="links">
    <a href="https://www.facebook.com/Slice-Craft-182529852650804"><img src="assets/img/facebook.png"
        alt="facebook link" /></a>
    <a href="https://www.instagram.com/slicecraft/"><img src="assets/img/instagram.png" alt="instagram link" /></a>
    <a href="https://twitter.com/SliceCraftCo"><img src="assets/img/twitter.png" alt="twitter link" /></a>
    <a href="https://www.pinterest.com/slicecraft/pins/"><img src="assets/img/pinterest.png" alt="pinterest link" /></a>
  </div>
  <p>©2018 by Slice Craft.</p>
</div>
