<div class="home">
  <img
    src="assets/img/village.jpg"
    alt="A small 3d printed christmas village"
  />
  <div class="content">
    <p>This is</p>
    <h1>SLICE CRAFT</h1>
    <h2>3D Printed Decor</h2>
    <p>
      We strive to join the world of crafting with the modern technology of 3D
      printing.
    </p>
    <p>
      Dive into to discover more about 3D printing, how to finish your printed
      pieces or shop in our store.
    </p>
    <p>Welcome to a new era of crafting.</p>
    <a href="https://www.etsy.com/shop/slicecraft"><button>Shop Now</button></a>
  </div>
</div>
