.blog {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  border: 1px solid black;
  width: 90%;
  height: 40%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.post-details {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 0.75em;
}
